body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.toplogo{
    width: 130px;
}
nav span {
    margin: 40px 40px;
}

@media screen and (max-width:395px) {
    nav span {
        margin: 20px 8px;
    }
}

@media screen and (max-width:306px) {
    nav span {
        margin: 10px 10px;
    }

    nav span:nth-of-type(1) {
        font-weight: bolder;
        font-style: oblique;
        font-size: large;
    }

    nav span:nth-of-type(2) {
        border-radius: 30px;
        padding: 9px 20px;
        color: #ff52bf;
        border: 1px solid #ff52bf;
    }
}

nav span:nth-of-type(1) {
    font-weight: bolder;
    font-style: oblique;
    font-size: xx-large;
}

nav span:nth-of-type(2) {
    border-radius: 30px;
    border: 1px solid #ff52bf;
    padding: 9px 20px;
    color: #ff52bf;
}

nav span img {
    float: left;
    width: 20px;
    height: 20px;
}

.first_section {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first_section h1 {
    font-size: 2.5rem;
}

.intro_p {
    width: 442px;
    margin: 10px auto;
}

@media screen and (max-width:550px) {
    .intro_p {
        width: 85vw;
        margin: 10px auto;
    }
}

.first_section a {
    background-color: #ff52bf;
    border-radius: 35px;
    color: white;
    text-decoration: none;
    padding: 20px 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.first_section img {
    width: 830px;
}

@media screen and (max-width:960px) {
    .first_section img {
        width: 85vw;
    }

    .first_section h1 {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 2rem;
    }
}

@media screen and (max-width:400px) {
    .first_section h1 {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px) {
    .first_section a {
        background-color: #ff52bf;
        border-radius: 35px;
        color: white;
        text-decoration: none;
        padding: 20px 40px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    width: 830px;
    margin: 150px auto;
    flex-wrap: wrap;
}

section:nth-of-type(2) span {
    font-size: 4rem;
    font-weight: bolder;
}

section:nth-of-type(2) p {
    color: grey;
    margin-top: 5px;
    font-size: 1.3rem;
}

@media screen and (max-width:960px) {
    section:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        width: 85vw;
        margin: 150px auto;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px) {
    section:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        width: 85vw;
        margin: 150px auto;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    section:nth-of-type(2) div:nth-of-type(1) {
        margin-bottom: 70px;
    }

    section:nth-of-type(2) div:nth-of-type(2) {
        margin-top: 70px;
    }
}

section:nth-of-type(2) img {
    width: 30px;
}
/* section main */
section:nth-of-type(3) {
    background-color: #e5f9ff;
}

.div_third_section .img2 {
    width: 75vw;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

section:nth-of-type(3) .img2 img {
    width: 25vw;
}

.section3image {
    transform: rotate(180deg);
    width: 100vw;
}

.growtogether {
    width: 30vw;
    font-size: 1.3rem;
}

.content h1 {
    font-size: 2.2rem;
    font-weight: bolder;
}

@media screen and (max-width:700px) {
    section:nth-of-type(3) {
        margin-top: 200px;
    }

    .div_third_section .img2 {
        width: 85vw;
        display: flex;
        flex-direction: column-reverse;
        margin: 0px auto;
        align-items: center;
    }

    section:nth-of-type(3) .img2 img {
        width: 85vw;
    }

    .content {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 90px;
    }

    .growtogether {
        width: 79vw;
        font-size: 1.3rem;
    }
}

section:nth-of-type(4){

    margin: 200px 0;
    width: 100vw;
    
}

section:nth-of-type(4) .img3 {
    display: flex;
    width: 85vw;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;


}

section:nth-of-type(4) img{
    width: 25vw;
}

.img3 div{
    width: 30vw;
}

.img3 div p{
    font-size: 1.3rem;
}

.img3 div h1{
    font-size: 2.2rem;
    font-weight: bolder;
}


@media screen and (max-width:700px) {
    section:nth-of-type(3) {
        margin-top: 200px;
    }

    section:nth-of-type(4) .img3 {
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        align-items: center;
    }

    section:nth-of-type(4) .img3 img {
        width: 85vw;
    }

    .img3 div {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 90px;
    }

    .img3 div p{
        width: 79vw;
        font-size: 1.3rem;
    }  
}


/* last section */

section:nth-of-type(5) {
    background-color: #e5f9ff;
}

.div_fourth_section .img4 {
    width: 75vw;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

section:nth-of-type(5) .img4 img {
    width: 25vw;
}

.section4image {
    transform: rotate(180deg);
    width: 100vw;
}

.yourusers {
    width: 30vw;
    font-size: 1.3rem;
}

.content2 h1 {
    font-size: 2.2rem;
    font-weight: bolder;
}

@media screen and (max-width:700px) {
    section:nth-of-type(5) {
        margin-top: 200px;
    }

    .div_fourth_section .img4 {
        width: 85vw;
        display: flex;
        flex-direction: column-reverse;
        margin: 0px auto;
        align-items: center;
    }

    section:nth-of-type(5) .img4 img {
        width: 85vw;
    }

    .content2 {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 90px;
    }

    .yourusers {
        width: 79vw;
        font-size: 1.3rem;
    }
}

/* button section */

section:nth-of-type(6){
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 250px 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.container {
    text-align: center;
}
.heading {
    font-size: 24px;
    font-weight: bold;
    color: #232323;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff4db8;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;

}
/* footer content */

.footerimage{
    width: 100vw;
}
.footer{
    background-color: #00252E;
            color: white;
            padding: 40px 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
}

.footer-left, .footer-right p{
    font-size: small;
    width: 20vw;
}

.fb{
    width: 20px;
    margin: 35px 5px;
}

.contact-info p{
    margin: 9px 0 ;
}

.intro2{
    margin: 30px 0;
}

.contact-info p img{
    margin-right: 15px;
}

.footer-right h2{
    margin: 15px 0;
}

.footer-right p{
    margin: 20px 0;
}

.newsletter .email{
    padding: 50px 50px;
    border-radius: 7px;

}
.newsletter button{
    margin-left: 15px;
    padding: 10px 50px;
    background: #ff4db8;
    border-radius: 7px;
}


@media screen and (max-width:850px){

    .footer-container{
        display: flex;
        flex-direction: column-reverse;
        width: 85vw;
        margin: 0px auto;
        align-items: center;
    }

    .footer-left, .footer-right p{
        font-size: small;
        width: 85vw;
        margin: 59px 0;
    }

    .newsletter button{
        margin: 10px 0;
        padding: 10px 50px;
        background: #ff4db8;
        border-radius: 7px;
    }

}

